@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/fundoimg.jpg) no-repeat bottom  / cover;
    height: 92vh;
}

body *{
    font-family: 'Inter', sans-serif;
}

#container {
    width: 360px;
    margin: 56px auto 0 ;
}

#profile img{
    width: 150px;
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:200;
    color: rgb(5, 5, 136);
    margin-top: 8px;
}

#profile p {
    color: rgb(159, 115, 57);
    font-weight: 500;
    font-size: medium;
    line-height: 24px;
}

/*links */

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    
}

ul li a{
    padding: 7px 16px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 255, 0.1);
    border: 1.5px solid white;
    border-radius: 8px ;

    color: white;

    text-decoration: none;
    font-weight: 500; 
}

/*hover*/
ul li a:hover {
    position: relative;
    overflow: hidden;
}

ul li a:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(15, 4, 61, 0.3);
    border-radius: 50%;
    opacity: 0;
}

ul li a:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color:rgba(15, 4, 61, 0.3) ;
    border-radius: 50%;
    opacity: 0;
}

ul li a:hover::before {
    animation: circle-animation 0.7s linear;
}

ul li a:hover::after {
    animation: circle-animation 0.7s linear 0.5s;
}

@keyframes circle-animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}


/*text animado */
.texto-animado{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: animacao-texto 3.6s ease-out forwards;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 16px;
    text-align: center;
  }

  @keyframes animacao-texto {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

footer{
    text-align: center;
    text-decoration: underline;

    color: rgb(5, 5, 136);
    font-family:'Inter', sans-serif; 
}


